doctype html
html
  head
    title= "彩票策略测试工具"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    script(type="text/javascript" src='/javascripts/vue.js')
    script(type="text/javascript" src='/javascripts/jquery-3.1.1.min.js')
    script(type="text/javascript" src='/javascripts/jquery.validate.min.js')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
