extends layout
block content
  div(id="app")
    button(v-on:click="send") 发送
    script(type="text/javascript").
      new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          send: function() {
            $.post('/test', this.message, function(data){
            	console.log(data);
            	alert(data);
            });
          }
        }
      });
